<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% @bookmarks.each do |bookmark| %>
        <li>
        <a href="<%= bookmark.url %>" >
          <%= bookmark.title %>
        </a>
      <% end %>
    </li>
    </ul>
    <form action='/bookmarks' method='delete'>
      <input type='text' name='title' placeholder="Title"/>
      <input type='submit' value='Delete'/>
    </form>
  </body>
</html>
